<div class="flex flex-row overflow-hidden h-screen sticky">
  <aside class="bg-slate-800 text-gray-300 w-64 space-y-6 py-7 absolute inset-y-0 left-0 transform -translate-x-full md:relative md:translate-x-0 transition duration-200 ease-in-out">
    <div class="flex items-center justify-between px-4">
      <div class="text-2xl font-semibold tracking-widest text-gray-100 uppercase border-b-2 border-gray-600">Dashboard</div>
      <div class="md:hidden">
        <button type="button" class="text-gray-500 hover:text-gray-300 focus:outline-none focus:text-gray-300">
          <svg viewBox="0 0 24 24" class="w-6 h-6 fill-current">
            <path fill-rule="evenodd" d="M3 5h18a1 1 0 0 1 0 2H3a1 1 0 0 1 0-2zm0 6h18a1 1 0 0 1 0 2H3a1 1 0 0 1 0-2zm0 6h18a1 1 0 0 1 0 2H3a1 1 0 0 1 0-2z"></path>
          </svg>
        </button>
      </div>
    </div>
    <nav>
      <a routerLink="/dashboard/conferencias" routerLinkActive="active" class="block py-2.5 px-4 text-lg hover:bg-slate-700">
        <fa-icon [icon]="faHome" class="mr-3"></fa-icon>
        Conferencias
      </a>
      <a routerLink="/dashboard/conferencistas" routerLinkActive="active" class="block py-2.5 px-4 text-lg hover:bg-slate-800">
        <fa-icon [icon]="faUserAlt" class="mr-3"></fa-icon>
        Conferencistas
      </a>
      <a href="/" class="block py-2.5 px-4 text-lg hover:bg-slate-800">
        <fa-icon [icon]="faCalendar" class="mr-3"></fa-icon>
        Eventos
      </a>
      <a href="#" class="block py-2.5 px-4 text-lg hover:bg-slate-800">
        <fa-icon [icon]="faGear" class="mr-3"></fa-icon>
        Configuraciones
      </a>
    </nav>
  </aside>

  <div class="flex-1 flex flex-col overflow-hidden">
    <router-outlet></router-outlet>

  </div>
</div>




