<header class="bg-white border-b border-gray-200 py-4">
  <div class="container mx-auto flex items-center justify-between px-4">
    <div class="flex items-center">
      <img class="h-8 mr-2" src="./assets/images/logo.png" alt="Logo">
    </div>
    <div class="hidden md:flex items-center">
      <span class="text-gray-600 mr-4">John Doe</span>
      <button routerLink="/ingresar" class="bg-gray-700 text-white py-2 px-4 rounded hover:bg-gray-600 focus:outline-none">
        Logout
      </button>
    </div>
    <div class="md:hidden">
      <button class="text-gray-700">
        <svg class="h-6 w-6" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4 6H20M4 12H20M4 18H20" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button>
    </div>
  </div>
</header>
